<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334510025178-hlpnknb8hmkpt81hgll7id6e5dm44qu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334510025178-hlpnknb8hmkpt81hgll7id6e5dm44qu7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334510025178-ajbv4dn2dreq6mjdr4lu41o3svrdeepp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB97dfTl-QXeeVeXQ3gKjJ_zn0iM_M6_L0</string>
	<key>GCM_SENDER_ID</key>
	<string>334510025178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.megabee.example</string>
	<key>PROJECT_ID</key>
	<string>caterme-12385</string>
	<key>STORAGE_BUCKET</key>
	<string>caterme-12385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334510025178:ios:efa5cdb1b367866a0438e3</string>
</dict>
</plist>